@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&family=Inter&family=Patrick+Hand&family=Poppins&family=Ubuntu&display=swap');
/* configuracoes gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header */
header{
    width: 100%;
    height: 56px;
    background-color: #fcd709;
    display: flex;
    justify-content: center;
}


.logo{
    max-width: 1222px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 100%;
    padding: 10px;
}

.logo a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

/* main */
body{
    background-color: #ededed;
}

main{
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
}


.container{
    max-width: 1222px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
